body{
    font-family: arial;
    background-color: #f0f0f0;
}
h1{ 
    color: blue;
}
.logo {
    width: 150px; /* Cambia este número para hacer el logo más grande o más pequeño */
    height: auto; /* Esto mantiene la proporción original de la imagen */
}